:root {
    --color--purple: #8338eb;
    --color--white: #F4F4F4;
    --color--black: #231F20;
    --color--blue: #151ada;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#about {
    width: 100vw;
    height: 100vh;
}

#aboutWrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #bac0c4, #2e4052);
    overflow: hidden;
}

#aboutBox {
    display: flex;
    justify-content: center;
}

#aboutMe {
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--color--white);
    margin-top: 0.75rem;
    font-size: 2rem;
}

#aboutBox {
    margin-top: 40px;
}

#aboutImg {
    height: 304px;
    border: 4px solid black;
}


#aboutImg>img {
    border: 4px solid var(--color--black);
    height: 300px;
    border-radius: 1px;
    background-size: cover;
}

#aboutS1 {
    width: 300px;
    height: 300px;
    margin-left: 40px;
    border: 2px solid;
}

#aboutS1>div {
    margin-top: 12px;
    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--color--white);
}

#skill {
    width: 100%;
    height: 100%;

}

#skillBox {
    width: 70%;
    height: 200px;
    border: 2px solid;
    margin: 10px auto 0;
    border-radius: 25px;
}

#skillSub {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#skillIcon {
    margin: 0 auto;
    width: 90%;
    height: 70%;
    border: 2px solid;
    border-radius: 25px;
}

.skillIcons>img {
    width: 60px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

#toolBox {
    width: 70%;
    height: 200px;
    border: 2px solid;
    margin: 10px auto 0;
    border-radius: 25px;
}

#toolSub {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#toolIcon {
    margin: 0 auto;
    width: 90%;
    height: 70%;
    border: 2px solid;
    border-radius: 25px;
}

.toolIcons>img {
    width: 60px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}