* {
    margin: 0;
    padding: 0;
}

@keyframes blink {
    0% {
        color: rgb(245, 240, 240);
    }

    100% {
        color: rgb(0, 0, 0);
    }
}

.blink {
    -webkit-animation: blink 2s linear infinite;
}



.content {
    width: 100%;
    height: 100vh;


}

.content_wrap {
    width: 100%;
    height: 100%;
}

.c1 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


#s1H h5 {
    width: 100%;
}

#s1H h2 {
    width: 100%;
}

#s1H h4 {
    width: 100%;
}

#s1H>div>a>button {
    width: 3vw;
    margin-left: 30%;

}

#box2 {
    position: absolute;
    border-style: solid;
    width: 27vw;
    height: 20vh;
    z-index: -1;
}


@media screen and (max-width:768px) {
    .content_wrap {
        width: 100vw;
    }

    .c1 {
        width: 100vw;
    }

    #box2 {
        width: 65vw;
    }
}

/* home */

#s2H {
    display: flex;
    height: 100vh;
}

#s2H_1 {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    height: 35vh;
}

#about {
    padding-top: 80px;
    box-sizing: border-box;


}

#s2H_2 {
    width: 50%;

}

#s2H_2 h3 {
    padding-left: 8px;
    padding-bottom: 20px;
}

#s2H_2 div h5 {
    padding-left: 8px;
    padding-bottom: 8px;
}

@media screen and (max-width:768px) {
    #about {
        width: 100vw;
        height: 100vh;
        margin: 25px;
    }

    #s2H_1 {
        width: 50vw;
        height: 50vh;
    }

    #s2H_1>img {
        width: 45vw;
        height: 30vh;
    }

    #s2H_2 {
        width: 50vw;
        height: 50vh;
    }


}

/* experience */
ul,
li {
    list-style: none;
}

#experience {
    padding-top: 80px;
    margin-top: 20px;
    width: 100%;
    height: 100%;

}

#s3H {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
}

#s3H h3 {
    width: 100%;
    height: 5%;
    text-align: center;
}

#s3H>ul>li {
    border-style: solid;
    width: 50vw;
    height: 30vh;
    text-align: center;
    margin-top: 4px;
}

#s3H>ul>li>div {
    font-size: 15px;
}


@media screen and (max-width:768px) {
    #s3H {
        width: 100vw;
    }

}