:root {
    --color--purple: #8338eb;
    --color--white: #F4F4F4;
    --color--black: #231F20;
    --color--blue: #151ada;
}

/* #wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
} */

.content_wrap {
    padding-top: 80px;
    background: linear-gradient(to right, #bac0c4, #2e4052);
    width: 100%;
    height: 100%;
    position: relative;

}

.programImg {
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
}

.programImg>img {
    opacity: 60%;
    height: 100vh;
    margin-right: 0;
}

.programImg>.introduce {
    position: absolute;
    top: 16vh;
    font-size: 1.2rem;
    font-weight: bold;
}

.introduce {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 37%;
    font-family: 'Fuzzy Bubbles', cursive;
    color: var(--color--white);
    border-right: 3px solid white;
    animation: blink .7s infinite, typing 2s steps(22);
    white-space: nowrap;
    overflow: hidden;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 470px;
    }
}

.introduce_2 {
    position: absolute;
    left: 50%;
    top: 25%;
    font-family: 'Black Han Sans', sans-serif;
    color: var(--color--white);
    font-size: 1.5rem;
    width: 680px;
    white-space: nowrap;
    border-right: 3px solid white;
    animation: blink 1s infinite, typing2 2s steps(22);
    animation-timing-function: cubic-bezier(0.95, -0.33, 0, 0.85);
    overflow: hidden;
}

@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: 678px;
    }
}

@media screen and (max-width:1160px) {
    .introduce {
        left: 30%;
    }

    .introduce_2 {
        left: 20%;
    }
}

@media screen and (max-width:894px) {
    .introduce {
        left: 25%;
    }

    .introduce_2 {
        left: 18%;
    }
}

@media screen and (max-width:788px) {
    .content_wrap {
        width: 100vw;
        background: linear-gradient(to right, #bac0c4, #2e4052);
        overflow: hidden;
    }

    .introduce {
        left: 15%;
    }

    .introduce_2 {
        left: 7%;
    }

    .programImg>.introduce {
        font-size: 15px;
    }

    .introduce_2 {
        font-size: 14px;
    }
}