* {
    margin: 0;
    padding: 0;
}

.content {
    width: 851px;
    height: 1925px;
}

.content_wrap {
    width: 100%;
    height: 100%;
}

.c1 {
    display: flex;
    width: 100%;
    min-height: 20%;
    justify-content: center;
    align-items: center;
}

#s1H h5 {
    width: 100%;
}

#s1H h2 {
    width: 100%;
}

#s1H h4 {
    width: 100%;
}

#s1H div {
    width: 100%;
    padding-left: 50%;
}


@media screen and (max-width:768px) {
    .content_wrap {
        height: 50vh;
    }

    .c1 {
        width: 100vw;
    }
}

#s2H {
    display: flex;
}

#s2H_1 {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

#s2H_2 {
    width: 50%;
}

#s2H_2 h3 {
    padding-left: 8px;
    padding-bottom: 20px;
}

#s2H_2 div h5 {
    padding-left: 8px;
    padding-bottom: 8px;
}

@media screen and (max-width:768px) {
    #about {
        width: 100vw;
        height: 100vh;
        margin: 25px;
    }

    #s2H_1 {
        width: 50vw;
        height: 50vh;
    }

    #s2H_2 {
        width: 50vw;
        height: 50vh;
    }
}