* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background: transparent;
    border: transparent;
    color: #f8f8f8;
}

#header_wrapper {
    background-color: #bd5d38;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}